{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %} 
<br>
<h1>Home page</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>Welcome to my blog here we will be talking everything computer science, machine learning, any new tech findings and more pretty much anything related to science.</p>
            <p>Go visit us at our website <a  href="https://ganapathi12.github.io/" >Ganapathi</a></p>
                <p>
                <a class="btn btn-primary" href="/posts" role="button">Go to our Blog posts
                    &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}